
html{
	background:#dddddd;
}

.back{
	background:#f5f5f5cf;
	width:1250px;
	margin:0 auto; /*Center align*/
	margin-top:5px;
	
}

tr,td,th{
	padding:10px;
}

table{
	border-collapse:collapse;
	text-align:center;
}


table caption{
	font-size: 23px;
    font-weight: bold;
    color: #56bb17;
    /*margin-top: -21px;*/
    margin-bottom: 5px;
}

.success{
	background:green;
	color:white;
	line-height:30px;
	border-radius:5px;
	height:30px;
	
	text-align:center;
	margin-bottom:10px;
}

.error{
	background:#ff1515;
	color:white;
	line-height:30px;
	border-radius:5px;
	height:30px;
	
	text-align:center;
}

/*.......................about_us.php page style.................*/
.mohadeb_img{
    height: 460px;
    width: 260px;
    margin-left: 260px;
    margin-top: -101px;
    float: left;
}

.mohadeb_text{
	height: 377px;
    width: 706px;
    margin-left: 546px;
    margin-top: 121px;
    /* float: left; */
    font-size: 21px;
    font-weight: bold;
    color: blue
}



/*.......................charge_shop_now.php page style.................*/
.input4{
    width: 365px;
    height: 40px;
    margin-top: 5px;
    margin-left: 4px;
    background: #72f5d7;
    opacity: 0.7;
	border-radius: 6px;
}

.input5{
	width: 130px;
    height: 40px;
    margin-top: 5px;
    margin-left: 4px;
    background: #72f5d7;
    opacity: 0.7;
    border-radius: 6px;
}




.option_in{
    width: 226px;
    height: 44px;
    margin-top: 5px;
    margin-left: 4px;
    background: #72f5d7;
    opacity: 0.7;
    border-radius: 6px;
}

.add_product_btn{
	width: 374px;
    height: 47px;
    margin-top: 5px;
    margin-left: 2px;
    background:#5c54ca;
    opacity: 0.7;
	border-radius: 6px;
	color:white;
}

.add_product_btn:hover{
	background:#1100a2;
}


.added_product_div{
	width: 607px;
    margin-left: 630px;
    margin-top: 6px;
}

.your_product_div{
	float: left;
	width: 607px;
    margin-left: 7px;
    margin-top: -21px;

}


.charge_customer_order_div{
    float: left;
    width: 380px;
    height: 362px;
    background: #1a926b;
    margin-top: 23px;
    margin-left: 12px;
    opacity: 0.95;
    border-radius: 12px;
    /*box-shadow: 0 8px 17px 18px rgba(0, 0, 0, 0.2), -5px -20px 20px 16px rgb(212 168 168 / 19%);*/
}

.charge_customer_order_div2{
    width: 603px;
    height: 362px;
    margin: 0 auto;
    border: 2px solid #bbc7d0;
}

.btnRemove{
	border-radius:5px;
	padding:5px;
	background:#ff0000;
	color:white;
}

.btnRemove:hover{
	background:#ff5e5e;
}

.confirme_order {
    width: 608px;
    height: 47px;
    margin-top: 5px;
    margin-left: -2px;
    background: #259772;
    opacity: 0.7;
    border-radius: 6px;
    color: white;
}

.confirme_order:hover{
	background:#1c7558;
}



/*.......................charge_customer_reg.php page style.................*/
.charge_customer_back_div{
	width: 100%;
    height: 580px;
    background: url(imgs/2644.jpg)no-repeat;
    background-size: 100% 100%;
    margin-top:5px;
}
.charge_customer_reg_div{
	width: 535px;
    height: 495px;
    margin:0 auto;
	background:#000612;
	opacity: 0.95;
	border-radius: 12px;
	box-shadow:0 8px 17px 18px rgba(0, 0, 0, 0.2), -5px -20px 20px 16px rgb(212 168 168 / 19%);
}

.charge_reg_h2{
	color: #3fff83;
    text-align: center;
    font-weight: bold;
    font-size: 31px;
}

.input3{
    width: 517px;
    height: 40px;
    margin-top: 5px;
    margin-left: 4px;
    background: #ffffff;
    opacity: 0.7;
	border-radius: 6px;
}

.reg_btn{
	width: 523px;
    height: 47px;
    margin-top: 5px;
    margin-left: 6px;
    background:#281dc5;
    opacity: 0.7;
	border-radius: 6px;
	color:white;
}

.reg_btn:hover{
	background:#92ec19;
	color:black;
}

/*.......................customer_login.php page style.................*/
.customer_log_div{
	width: 535px;
    height: 355px;
    margin:0 auto;
	background:#000612;
    margin-top: 93px;
	opacity: 0.95;
	border-radius: 12px;
	box-shadow:0 8px 17px 18px rgba(0, 0, 0, 0.2), -5px -20px 20px 16px rgb(212 168 168 / 19%);
}



/*................charge_add_location.php.................................*/
.location_h2{
	color: #5f846c;
    text-align: center;
    font-weight: bold;
    font-size: 31px;
	margin-top: 3px;
}


.input_location{
	width: 587px;
    height: 35px;
    margin-left: 4px;
    background: #dedede80;
    border-radius: 6px;
	border: 2px solid #add3ff;
}

.input_location2{
	width: 285px;
    height: 35px;
    margin-left: 4px;
    background: #dedede80;
    border-radius: 6px;
	border: 2px solid #add3ff;
}

.input_location_option{
	width: 294px;
    height: 42px;
    margin-left: 4px;
    background: #dedede80;
    border-radius: 6px;
	border: 2px solid #add3ff;
	color: black;
}



/*.................................index.php page style.....................*/
.banner_div{
	height: 476px;
    width: 1250px;
    background: url(imgs/banner4.jpg)no-repeat;
	background-size: 1250px 475px;
    margin-top: 5px
		
}

.charge_order_btn a {
	background: #281dc5 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    line-height: 49px;
    padding: 0 92px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    margin-top: 360px;
    margin-left: 145px;
    opacity: 0.7;
    border-radius: 18px;
}
.charge_order_btn a:hover {
    background:#c43b68  none repeat scroll 0 0;
}

.relief__order_btn a {
    float: left;
    background: #1d1684 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    line-height: 49px;
    padding: 0 92px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    margin-top: -51px;
    margin-left: 783px;
    opacity: 0.7;
    border-radius: 18px;
}
.relief__order_btn a:hover {
    background:#c43b68  none repeat scroll 0 0;
}



/*.......................topbar.inc.php page style.................*/
.topbar_div{
	height:60px;
	width:100%;
	background:#ffffff;
	margin-bottom:5px;
	
}

a{
	text-decoration:none; /*Removing text Underline*/
}

.list{

	list-style:none; /*Removing bulet or digit style*/
	
	margin:0px;
	padding:0px;
}

.list li{
	/*display:inline;*/ /*Arranging text in one line*/
	float:left;
	width:130px;
	height:60px;
	background-color:#ffffff;
	/*border-right:1px solid #2B2A2A;*/
	text-align:center; /*Taking text at the right side*/
	
	
}

.list li:last-child{
	border-right:none; /*Removing last list boder solid*/
}

.list li a{
	font-size:20px;
	font-weight:bold;
	color:#3928c5; /*link color*/
	line-height:57px;
	/*padding:13px 30px 14px 14px;*/
}

.list li a:hover{
	background-color:#10a50ddb;
	
}

.list li ul li{
	display:none;
}
.list li:hover ul li{
	margin-left:-40px;
	display:block;
}

.logo{
	float:left;
	margin-left: 175px;
}



/*.......................footer.inc.php page style.................*/
.footer{
	height:100px;
	width:100%;
	background:#111111;
}
.footer_text{
    color: #11ca42;
    font-size: 28px;
    float: left;
    margin-left: 138px;
}


/*..........................sidebar.inc.php page CSS...........................*/
.h3_text{
	font-family: Roboto;
    color: #3f51b5;
	text-align:center;
}
.sidebar{
	float:left;
	width:200px;
	height:auto;
	background:white;
	
}

.sideber_li{
	list-style:none;
	margin-left:-40px;
}

.li{
	position:relative;
	display:block;
	padding:20px 30px;
	margin-bottom:-1px;
	background-color:#ffffff;
	border:1px solid #ecf0f1;
}



/*...........................Nooooooooooooooooooooo.......................*/
.reg_lable{
	color: white;
    margin-left: 8px;
}





/*..........................charge_customer_details.php page CSS...........................*/


.rbox1{
    width: 668px;
    height: 153px;
    float: left;	/*To remove block level property of "div"*/
    margin-left: -20px;
}

.rbox2{
	width: 668px;
    height: 304px;
    margin-left: 485px;
}

.desired_result1{
	border-collapse: collapse;
    width: 500px;
    height: 444px;
    margin-left: 237px;
    /*margin-top: -664px;*/
    text-align: center;
    float: left;
    color: black;
    background: #ccf3b485;
}

.desired_result2{
    border-collapse: collapse;
    width: 500px;
    height: 444px;
    text-align: center;
    /*margin-top: -665px;*/
    margin-left: 246px;
    color: black;
    background: #ccf3b485;
}
.table_row_style{
	    background: #00ff9561;
}



/*.......................donor_reg.php page style.................*/
.donor_back_div{
	width: 100%;
    height: 692px;
    background: url(imgs/charity_banner.jpg)no-repeat;
    background-size: 100% 100%;
    margin-top:5px;
}
.donor_reg_div{
	width: 535px;
    height: 600px;
    margin:0 auto;
	background:#ffffff66;
	opacity: 0.85;
	border-radius: 12px;
	box-shadow:0 8px 17px 18px rgba(0, 0, 0, 0.2), -5px -20px 20px 16px rgb(212 168 168 / 19%);
}

.gender{
	color:white;
	font-size:20px;
	margin-left:4px;
	
}


/*.......................donor_login.php page style.................*/
.donor_log_div{	
	width: 535px;
    height: 355px;
    margin:0 auto;
	margin-top:85px;
	background:#ffffff66;
	opacity: 0.85;
	border-radius: 12px;
	box-shadow:0 8px 17px 18px rgba(0, 0, 0, 0.2), -5px -20px 20px 16px rgb(212 168 168 / 19%);
}

/*.......................relief_reg.php page style.................*/
.relief_back_div{
	width: 100%;
    height: 787px;
    background: url(imgs/relief_product_delivery3.jpg)no-repeat;
    background-size: 100% 100%;
    margin-top:5px;
}

.relief_form_div{
    width: 903px;
    height: 712px;
    margin: 0 auto;
    border:4px solid #11bd1e;
	/*opacity:0.7;*/
	background:white;
}


.relief_input1{
	width: 587px;
    height: 35px;
    margin-left: 4px;
    background: #dedede80;
    border-radius: 6px;
	border: 2px solid #add3ff;
}

.relief_input2{
	width: 285px;
    height: 35px;
    margin-left: 4px;
    background: #dedede80;
    border-radius: 6px;
	border: 2px solid #add3ff;
}

.relief_input3{
	width: 436px;
    height: 35px;
    margin-left: 4px;
    background: #dedede80;
    border-radius: 6px;
	border: 2px solid #add3ff;
}

.relief_input_option{
	width: 294px;
    height: 42px;
    margin-left: 4px;
    background: #dedede80;
    border-radius: 6px;
	border: 2px solid #add3ff;
	color: black;
}

.lable_left{
	margin-left:5px;
	font-size:20px;
}
